{% extends "!layout.html" %}
{% block linktags %}
    <script type="text/javascript" src="http://sagecell.sagemath.org/static/jquery.min.js"></script>
    <script type="text/javascript" src="http://sagecell.sagemath.org/embedded_sagecell.js"></script>
    <script type="text/javascript">
        sagecell.makeSagecell({inputLocation: ".sage_linked",
                               linked: true});
    </script>
    <script type="text/javascript">
        sagecell.makeSagecell({inputLocation: ".sage_unlinked",
                               linked: false});
    </script>



    <script src="http://sagecell.icse.us.edu.pl:6363/static/jquery.min.js"></script>
	<script src="http://sagecell.icse.us.edu.pl:6363/static/embedded_sagecell.js"></script>

	<script>sagecell.makeSagecell({inputLocation: ".sage",
                                       evalButtonText: 'Wykonaj',
                                       linked: true});</script>

	<style type="text/css">
		.sagecell .CodeMirror-scroll {
			overflow-y: hidden;
			overflow-x: auto;
		}
		.sagecell .CodeMirror {
			height: auto;
		}
	</style>


    {{ super() }}
{% endblock %}
